<h1 mat-dialog-title>Editar Superheroe</h1>
<div mat-dialog-content>
  <mat-form-field class="example-full-width" appearance="standard">
    <mat-label>Nombre</mat-label>
    <input matInput placeholder="Nombre" [(ngModel)]="heroeNombre" />
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="standard">
    <mat-label>Poder</mat-label>
    <input matInput placeholder="Poder" [(ngModel)]="heroePoder" />
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-button mat-dialog-close cdkFocusInitial (click)="guardar()">
    Guardar
  </button>
</div>
